@charset "UTF-8";
/* ============ RESET CSS ============ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* ============ FUENTE WEB ============ */
body {
  font-family: "Poppins", sans-serif;
}

.nav-container {
  background-color: #55CDFC;
  height: 80px;
  width: 100%;
}
.nav-container .nav-enlace-logo {
  position: absolute;
  padding: 20px 50px;
}
.nav-container .nav-enlace-logo img {
  height: 40px;
}
.nav-container .nav-enlace-logo img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
}
.nav-container ul {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}
.nav-container ul li {
  margin: 25px 15px;
}
.nav-container ul li a {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 10px;
}
.nav-container ul li a:hover {
  color: #fff;
}
.nav-container ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.contenedor-inicio .contenedor-titulo {
  background-image: url(../assets/fondoIndex.jpg);
  text-align: center;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 0;
}
.contenedor-inicio .contenedor-titulo h1 {
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contenedor-inicio .contenedor-titulo p {
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contenedor-inicio .contenedor-planes {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contenedor-inicio .contenedor-planes .plan-total,
.contenedor-inicio .contenedor-planes .plan-plus {
  background-color: #fff;
  padding: 2rem 0;
  border-radius: 10px;
}
.contenedor-inicio .contenedor-planes .plan-total h2,
.contenedor-inicio .contenedor-planes .plan-plus h2 {
  font-size: 4rem;
  text-align: center;
}
.contenedor-inicio .contenedor-planes .plan-total ul li,
.contenedor-inicio .contenedor-planes .plan-plus ul li {
  font-size: 1.5rem;
}
.contenedor-inicio .contenedor-planes .plan-total ul li::before,
.contenedor-inicio .contenedor-planes .plan-plus ul li::before {
  content: "✔    ";
}
.contenedor-inicio .contenedor-planes .plan-total #ultimoItem::before,
.contenedor-inicio .contenedor-planes .plan-plus #ultimoItem::before {
  content: "X   ";
}
.contenedor-inicio .contenedor-planes .plan-total a,
.contenedor-inicio .contenedor-planes .plan-plus a {
  background-color: #55CDFC;
  color: #000000;
  display: block;
  text-align: center;
  margin: 1rem 10rem 0 10rem;
  padding: 0.7rem;
  border-radius: 5px;
  font-weight: bold;
}
.contenedor-inicio .contenedor-planes .plan-total a:hover,
.contenedor-inicio .contenedor-planes .plan-plus a:hover {
  background-color: #0077B6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.entrenamientos-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7rem auto;
}
.entrenamientos-title h1 {
  font-size: 4rem;
}
.entrenamientos-title h2 {
  font-size: 1.5rem;
}
.entrenamientos-title .entrenamientos-title__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 2.5rem auto;
  background-color: #55CDFC;
  padding: 1rem;
  border-radius: 50px;
}
.entrenamientos-title .entrenamientos-title__link:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  color: #fff;
}

.entrenamientos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 13rem;
}
.entrenamientos-container .entrenamientos-container__card,
.entrenamientos-container .entrenamientos-container__card--op {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.entrenamientos-container .entrenamientos-container__card div,
.entrenamientos-container .entrenamientos-container__card--op div {
  width: 40rem;
}
.entrenamientos-container .entrenamientos-container__card h3,
.entrenamientos-container .entrenamientos-container__card--op h3 {
  font-size: 2.5rem;
}
.entrenamientos-container .entrenamientos-container__card p,
.entrenamientos-container .entrenamientos-container__card--op p {
  text-align: start;
  font-size: 1.2rem;
}
.entrenamientos-container .entrenamientos-container__card img,
.entrenamientos-container .entrenamientos-container__card--op img {
  width: 40rem;
  -webkit-box-shadow: 2px 4px 15px 0 #000;
          box-shadow: 2px 4px 15px 0 #000;
}
.entrenamientos-container .entrenamientos-container__card--op {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consulta-title {
  text-align: center;
  font-size: 2rem;
  margin: 3rem auto;
}

.consulta-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  background-color: #55CDFC;
  border-radius: 10px;
  width: 50rem;
  margin: 0 auto;
}
.consulta-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.consulta-form .form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}
.consulta-form .form-group input,
.consulta-form .form-group textarea,
.consulta-form .form-group select {
  padding: 7px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
}
.consulta-form .form-group input:focus,
.consulta-form .form-group textarea:focus,
.consulta-form .form-group select:focus {
  border-color: #006699;
  outline: none;
}
.consulta-form .form-group button {
  background-color: #0077B6;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  width: 20%;
  margin: 2rem auto;
}
.consulta-form .form-group button:hover {
  color: #fff;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.profesContenedor {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas: "title title" "img0 datos0" "img1 datos1" "img2 datos2";
  margin: 5rem 5rem;
}
.profesContenedor .profesTitle {
  grid-area: title;
  text-align: center;
  margin-bottom: 5rem;
}
.profesContenedor .profesTitle h1 {
  font-size: 3rem;
}
.profesContenedor .datosProfe0 {
  grid-area: datos0;
}
.profesContenedor .datosProfe1 {
  grid-area: datos1;
}
.profesContenedor .datosProfe2 {
  grid-area: datos2;
}
.profesContenedor .imgProfe0 {
  grid-area: img0;
  margin: 0 auto;
}
.profesContenedor .imgProfe1 {
  grid-area: img1;
  margin: 0 auto;
}
.profesContenedor .imgProfe2 {
  grid-area: img2;
  margin: 0 auto;
}
.profesContenedor .datosProfe0,
.profesContenedor .datosProfe1,
.profesContenedor .datosProfe2 {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-general {
  background-color: #55CDFC;
  margin-top: 5rem;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-template-areas: "listas derechos derechos redes";
}
.footer-general .footer-redes {
  grid-area: redes;
  align-self: self-end;
  text-align: center;
  margin-bottom: 10px;
}
.footer-general .footer-redes .footer-redes__iconos a img {
  margin: 5px 10px 0 10px;
  width: 30px;
}
.footer-general .footer-derechos {
  grid-area: derechos;
  text-align: center;
}
.footer-general .footer-derechos img {
  width: 120px;
  margin-bottom: 10px;
}
.footer-general .footer-listas {
  grid-area: listas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-general .footer-listas ul li {
  margin: 5px 0;
}
.footer-general .footer-listas ul li a {
  color: #000000;
}
.footer-general .footer-listas ul li:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

/* 1024, 768 y 480 */
@media screen and (max-width: 480px) {
  .nav-container {
    height: 200px;
  }
  .nav-container .nav-enlace-logo {
    margin-top: 3.5rem;
  }
  .nav-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-container ul li {
    margin: 10px 0;
  }
  /* MEDIA - FOOTER */
  .footer-space {
    background-image: url(../assets/fondoIndex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
  }
  .footer-general {
    margin-top: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-general .footer-redes {
    -ms-flex-item-align: normal;
        align-self: normal;
  }
  .footer-general .footer-redes p {
    font-size: 2rem;
  }
  .footer-general .footer-redes .footer-redes__iconos a img {
    width: 50px;
  }
  .footer-general .footer-derechos {
    margin-top: 2rem;
  }
  .footer-general .footer-listas {
    margin-top: 4rem;
  }
  .footer-general .footer-listas .footer-socios,
  .footer-general .footer-listas .footer-legal {
    padding: 0 0.5rem;
    text-align: center;
  }
  /* MEDIA - INDEX */
  .contenedor-inicio .contenedor-titulo {
    background-image: none;
    text-align: center;
  }
  .contenedor-inicio .contenedor-titulo h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .contenedor-inicio .contenedor-titulo p {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .contenedor-inicio .contenedor-planes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedor-inicio .contenedor-planes .plan.total,
  .contenedor-inicio .contenedor-planes .plan-plus {
    background-color: #fff;
    padding: 2rem 0;
  }
  /* MEDIA -- CONSULTA */
  .consulta-title {
    background-image: url(../assets/fondoIndex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
    color: #fff;
    padding: 3rem;
    margin: 0;
    font-weight: bold;
  }
  .consulta-title p {
    font-size: 1.3rem;
  }
  .consulta-form {
    width: 100%;
    border-radius: 0;
  }
}
/*     .profesContenedor {
        display: flex;
        flex-direction: column;
    }

    .profesTitle h1 {
        font-size: 32px;
        margin: 0 -5rem;
    }

    .profesTitle h3 {
        font-size: 25px;
        margin: 1rem -3rem 0 -3rem;
    }

    .datosProfe0 {
        margin-top: 3rem;
    }

    .datosProfe0 h6 {
        font-size: 32px;
        text-align: center;
    }

    .datosProfe0 p {
        font-size: 20px;
        text-align: center;
        margin: 16px 0;
    }

    .datosProfe1 {
        margin-top: 3rem;
    }

    .datosProfe1 h6 {
        font-size: 32px;
        text-align: center;
    }

    .datosProfe1 p {
        font-size: 20px;
        text-align: center;
        margin: 16px 0;
    }

    .datosProfe2 {
        margin-top: 3rem;
    }

    .datosProfe2 h6 {
        font-size: 32px;
        text-align: center;
    }

    .datosProfe2 p {
        font-size: 20px;
        text-align: center;
        margin: 16px 0;
    }
} */