.footer-general {
    background-color: #55CDFC;
    margin-top: 5rem;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content;
    grid-template-areas: 
    "listas derechos derechos redes";

    .footer-redes {
        grid-area: redes;
        align-self: self-end;
        text-align: center;
        margin-bottom: 10px;

        .footer-redes__iconos {
            a{
                img {
                    margin: 5px 10px 0 10px;
                    width: 30px;
                }
            }
        }
    }
    .footer-derechos {
        grid-area: derechos;
        text-align: center;

        img {
            width: 120px;
            margin-bottom: 10px;
        }
    }

    .footer-listas {
        grid-area: listas;
        display: flex;
        justify-content: space-around;

        ul{

            li{
                margin: 5px 0;

                a{
                    color: #000000;
                }
            }

            li:hover {
                transform: scale(1.01);
            }
        }
    }
}