.nav-container {
    background-color: #55CDFC;
    height: 80px;
    width: 100%;

    .nav-enlace-logo {
        position: absolute;
        padding: 20px 50px;

        img {
            height: 40px;
        }
        img:hover {
            transform: scale(1.05);
            transition-duration: .2s;
        }
    }


    ul {
        float: right;
        display: flex;
        margin-right: 30px;

        li {
            margin: 25px 15px;

            a {
                color: #000000;
                font-weight: bold;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 10px;
            }

            a:hover {
                color: #fff;
                
            }
        }

        li:hover {
            
            transform: scale(1.1);
            transition-duration: .1s;
            
        }
    }
}