.nav-container {
    background-color: #55CDFC;
    height: 80px;
    width: 100%;

    .nav-enlace-logo {
        position: absolute;
        padding: 20px 50px;

        img {
            height: 40px;
        }
    }

    ul {
        float: right;
        display: flex;
        margin-right: 30px;

        li {
            margin: 25px 15px;

            a {
                color: #000000;
                font-weight: bold;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 10px;
            }
        }
    }
}

/* .enlace {
        position: absolute;
        padding: 20px 50px;

        .logo {
            height: 40px;
        }

        .logo:hover {
            transform: scale(1.04);
        }
    }

    ul {
        float: right;
        display: flex;
        margin-right: 30px;

        li {
            margin: 25px 15px;

            a {
                color: #000000;
                font-weight: bold;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 10px;
            }

        }

        li:hover {
            transform: scale(1.05);
        }
    }

    .checkbtn {
        font-size: 30px;
        color: black;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check{
        display: none;
    } */