.nav-container {
    background-color: #E3FDFD;
    height: 80px;
    width: 100%;

    .enlace {
        position: absolute;
        padding: 20px 50px;

        .logo {
            height: 40px;
        }
    }

    ul {
        float: right;
        display: flex;
        margin-right: 30px;

        li {
            margin: 25px 15px;

            a {
                color: black;
                font-weight: bold;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 20px;
            }

            a:hover {
                background-color: #71C9CE;
                transition: .2s;
            }
        }
    }

    .checkbtn {
        font-size: 30px;
        color: black;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check{
        display: none;
    }
}