.fondo {
    background: url(../assets/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(26vh - 80px);
}

.plan-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;

    .plan-container__eleccion {
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.3rem;
        }
    }

    .plan-container__total,
    .plan-container__plus {
        background-color: #E3FDFD;
        box-shadow: 3px 1px 10px 0 #ade8f4;
        padding: 2rem;
        border-radius: 40px;

        h2 {
            text-align: center;
            font-size: 2.5rem;
        }

        ul {
            list-style-type: none;
            margin: 1.5rem auto;

            li::before {
                content: '✓  ';
            }
        }

        a {
            background-color: #71C9CE;
            text-decoration: none;
            color: black;
            border-radius: 10px;
            margin-left: 6rem;
            padding: .5rem;
            font-weight: bold;
        }

        a:hover {
            background-color: #ade8f4;
        }

        #ultimoItem::before {
            content: 'X   ';
        }
    }

    

}