/* ============ RESET MARGIN ============ */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* ============ FUENTE WEB ============ */
body {
    font-family: 'Poppins', sans-serif;
}


/* ============ FIN ESTILO BARRA DE NAVEGACIÓN ============ */

.nav-container {
    background-color: #E3FDFD;
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

.nav-container ul {
    float: right;
    display: flex;
    margin-right: 30px;

}

.nav-container ul li {
    margin: 25px 15px;
}

.nav-container ul li a {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 20px;
}

.nav-container li a:hover {
    background-color: #71C9CE;
    transition: .2s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.fondo {
    background: url(./assets/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(26vh  - 80px);
}






/* ============ INICIO ESTILO INDEX ============ */
/* ============ ESTILO TARJETAS INDEX ============ */
.plan-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
}

/* ============ ESTILO TARJETA ELECCION ============ */
.plan-container__eleccion h1 {
    font-size: 2.5rem;
}

.plan-container__eleccion p {
    font-size: 1.3rem;
}

/* ============ ESTILO TARJETA PLAN TOTAL ============ */
.plan-container__total {
    background-color: #E3FDFD;
    box-shadow: 3px 1px 10px 0 #ade8f4;
    padding: 2rem;
    border-radius: 40px;
}

.plan-container__total h2 {
    text-align: center;
    font-size: 2.5rem;
}

.plan-container__total ul {
    list-style-type: none;
    margin: 1.5rem auto;
}

.plan-container__total ul li::before {
    content: '✓  ';
}

.plan-container__total a {
    background-color: #71C9CE;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-left: 6rem;
    padding: .5rem;
    font-weight: bold;
}

.plan-container__total a:hover {
    background-color: #ade8f4;
}


/* ============ ESTILO TARJETA PLAN PLUS ============ */
.plan-container__plus {
    background-color: #E3FDFD;
    box-shadow: 3px 1px 10px 0 #ade8f4;
    padding: 2rem;
    border-radius: 40px;
}

.plan-container__plus h2 {
    text-align: center;
    font-size: 2.5rem;
}

.plan-container__plus ul {
    list-style-type: none;
    margin: 1.5rem auto;
}

.plan-container__plus ul li::before {
    content: '✓  ';
}

#ultimoItem::before {
    content: 'X   ';
}

.plan-container__plus a {
    background-color: #71C9CE;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-left: 6rem;
    padding: .5rem;
    font-weight: bold;
}

.plan-container__plus a:hover {
    background-color: #ade8f4;
}

/* ============ FIN ESTILO INDEX ============ */






/* ============ INICIO ESTILO ENTRENAMIENTOS ============ */
.entrenamientos-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;
}

.entrenamientos-title h1 {
    font-size: 3rem;
}

.entrenamientos-title h2 {
    font-size: 1.7rem;
}

.entrenamientos-title__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 2.5rem auto;
    background-color: #E3FDFD;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 1px 1px 10px #AFE5E8;

}

.entrenamientos-title__link:hover {
    transform: scale(1.02);
}

.entrenamientos-container {
    display: flex;
    flex-direction: column;
    margin: 0 13rem;
}

/* ========= CARTAS ENTRENAMIENTOS ========= */
.entrenamientos-container__card img,
.entrenamientos-container__card--op img {
    width: 40rem;
    box-shadow: 2px 4px 15px 0 #000;
}

.entrenamientos-container__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entrenamientos-container__card div {
    width: 40rem;
}

.entrenamientos-container__card h3 {
    font-size: 2.5rem;
}

.entrenamientos-container__card p {
    text-align: start;
    font-size: 1.2rem;
}

/* ========= CARTAS OPUESTAS ========= */
.entrenamientos-container__card--op {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.entrenamientos-container__card--op div {
    width: 40rem;
}

.entrenamientos-container__card--op h3 {
    font-size: 2.5rem;
}

.entrenamientos-container__card--op p {
    text-align: start;
    font-size: 1.2rem;
}

.footerEntrenamientos {
    margin-top: 12rem;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    background-color: #71C9CE;
}

.footerEntrenamientos .cardImg {
    margin: 2rem 49rem 0 0;
}

.footerEntrenamientos .logoFooter {
    width: 10rem;
}

.footerEntrenamientos .igFooter {
    width: 3rem;
    margin-left: 1.5rem;
}

.footerEntrenamientos .cardSocios ul {
    list-style-type: none;
}

.footerEntrenamientos .cardSocios a {
    text-decoration: none;
    color: black;
}

.footerEntrenamientos .cardLegal ul {
    list-style-type: none;
}

.footerEntrenamientos .cardLegal a {
    text-decoration: none;
    color: black;
}

/* ============ FIN ESTILO ENTRENAMIENTOS ============ */






/* ============ INICIO ESTILO CONTACTO ============ */
.consulta-title {
    text-align: center;
    font-size: 2rem;
    margin: 3rem auto;
}


/* ============ ESTILO FORMULARIO ============= */
.consulta-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    background-color: #E3FDFD;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0 #ade8f4;
    width: 30rem;
    margin: 0 auto;
}

/* ESTILO PARA CADA GRUPO DE LOS ELEMENTOS */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

/* ESTILO PARA ETIQUETAS DE INPUTS */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* ESTILO PARA LOS INPUTS */
input,
textarea,
select {
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;

}

/* ESTILO PARA LOS INPUTS CUANDO ESTAN ENFOCADOS */
input:focus,
textarea:focus,
select:focus {
    border-color: #006699;
    outline: none;
}

/* ESTILO PARA EL BOTON DE ENVIO */
button {
    background-color: #71c9ce75;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    width: 20%;
    margin: 2rem auto;
}

button:hover {
    background-color: #ade8f4;
}
/* ========== FIN ESTILO CONTACTO ============= */






/* =========== INICIO ESTILO ABOUT-US ============ */
.profesContenedor {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: 
    "title title"
    "img0 datos0"
    "img1 datos1"
    "img2 datos2";
    margin: 5rem 5rem;
}

.profesTitle {
    grid-area: title;
    text-align: center;
    margin-bottom: 5rem;
}

.profesTitle h1 {
    font-size: 3rem;
}

.imgProfe0 {
    grid-area: img0;
    margin: 0 auto;
}

.datosProfe0 {
    grid-area: datos0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgProfe1 {
    grid-area: img1;
    margin: 0 auto;
}

.datosProfe1 {
    grid-area: datos1;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgProfe2 {
    grid-area: img2;
    margin: 0 auto;
}

.datosProfe2 {
    grid-area: datos2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}













/* ============ ESTILO FOOTER ============ */
.footer-general {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 15rem;
    background-color:#E3FDFD;
}

.footer-general__logos {
    display: flex;
    margin-left: 5rem;
    /* width: 100%; */
}

.logoGym {
    width: 10%;
    height: 10%;
    margin-right: 1rem;
}

.logoIg {
    width: 9%;
}

.footer-general__socios {
    text-align: center;
    margin-right: 2rem;
    width: 30%;
}

.footer-general__socios ul {
    list-style-type: none;
}

.footer-general__socios li {
    margin: 5px 0;
}

.footer-general__socios li a{
    text-decoration: none;
    color: black;
}

.footer-general__legal {
    text-align: center;
    width: 30%;
}

.footer-general__legal ul {
    list-style-type: none;
}

.footer-general__legal li {
    margin: 5px 0;
}

.footer-general__legal li a {
    text-decoration: none;
    color: black;
}







/* 
===============================               =============================== 
=============================== MEDIA QUERIES =============================== 
===============================               =============================== 
*/

/* PAGINAS RESPONSIVE: INDEX.HTML -- ABOUT-US.HTML */
@media screen and (max-width: 425px){
    
    .checkbtn {
        display: block;
    }

    .nav-container ul {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        background: #E3FDFD;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .nav-container ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .nav-container ul li a {
        font-size: 20px;
    }

    .nav-container li a:hover {
        background: none;
        background-color: #71C9CE;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .plan-container {
        display: flex;
        flex-direction: column;
    }

    .plan-container__eleccion {
        margin-bottom: 20px;
    }
    .plan-container__eleccion h1 {
        font-size: 30px;
        text-align: center;
    }

    .plan-container__eleccion p {
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
    }

    .plan-container__plus {
        margin: 64px 0;
    }

    .profesContenedor {
        display: flex;
        flex-direction: column;
    }

    .profesTitle h1 {
        font-size: 32px;
        margin: 0 -5rem;
    }

    .profesTitle h3 {
        font-size: 25px;
        margin: 1rem -3rem 0 -3rem;
    }

    .datosProfe0 {
        margin-top: 3rem;
    }

    .datosProfe0 h6 {
        font-size: 32px;
        text-align: center;
    }

    .datosProfe0 p {
        font-size: 20px;
        text-align: center;
        margin: 16px 0;
    }

    .datosProfe1 {
        margin-top: 3rem;
    }

    .datosProfe1 h6 {
        font-size: 32px;
        text-align: center;
    }

    .datosProfe1 p {
        font-size: 20px;
        text-align: center;
        margin: 16px 0;
    }

    .datosProfe2 {
        margin-top: 3rem;
    }

    .datosProfe2 h6 {
        font-size: 32px;
        text-align: center;
    }

    .datosProfe2 p {
        font-size: 20px;
        text-align: center;
        margin: 16px 0;
    }

    .footer-general {
        background-color: #E3FDFD;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-general__logos {
        display: none;
    }

    .footer-general__socios {
        margin: 0;
    }
    .footer-general__legal {
        margin: 2rem 0;
    }

    .footer-general__socios h3 {
        font-size: 16px;
        padding-top: 10px;
    }
    .footer-general__socios ul li a {
        font-size: 12px;
    }

    .footer-general__legal h3 {
        font-size: 16px;
    }

    .footer-general__legal ul li a {
        font-size: 12px;
    }
}